<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <script>if (top !== self) top.location.replace(self.location.href +'?utm_source=themeforest&utm_medium=preview&utm_campaign=evincepayrolllite');</script>
    <!-- Styles -->
    <link href="/css/page.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/scss/style.scss">
    <link href="/scss/popup.scss">
    <link href="/scss/typography.scss">
    <link href="/css/style.min.css">
    <link href="/scss/sizing.scss">
    <link href="/scss/header.scss">
    <link href="/scss/reboot.scss">
    <link href="/css/page.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="img/download.png">
    <link rel="icon" href="img/download.png">


            <!-- start of page main section -->

            {{ content }}

			<!-- end of page main section -->
			<!-- start of page footer -->

			  <div id="popup-cookie-2" class="popup col-10 py-4" data-position="bottom-center" data-animation="slide-up">
			    <div class="row gap-y align-items-center">
			      <div class="col-md">
			        This website uses cookies to ensure you get the best experience on our website. <a href="#">Lean more</a>
			      </div>
			      <div class="col-md-auto">
			        <button class="btn btn-sm btn-warning" data-dismiss="popup">Got it</button>
			      </div>
			    </div>
			  </div>
			    <!-- Scripts -->
			    <script src="js/page.min.js"></script>
			    <script src="js/script.js"></script>
			  </body>
			</html>
