---
title: home
layout: default
---

    <header class="header text-white h-fullscreen overflow-hidden" style="background-image: linear-gradient(-45deg, #667eea 0%, #764ba2 100%);">
      <div class="container position-static">
        <div class="row align-items-center h-100">
          <div class="col-lg-7">
            <h1 class="display-4 fw-500"><br></h1>
            <p class="lead mt-5 mb-7 mb-md-9 w-80"><strong>OxusHR</strong> is a Cloud-Based/On-Premise & Web Based Human Resource application.<br>Supports all modern browsers including Internent Explorer, Firefox, Chrome Sefari</p>
            <a class="btn btn-xl btn-round btn-success w-200 mr-3 px-6 d-none d-md-inline-block" href="">Learn More</a>
            <a class="btn btn-xl btn-round btn-outline-light w-200 px-6" href="#section-demo">Explore</a>
          </div>
          <div class="col-lg-5 ml-auto d-none d-lg-block">
          </div>
        </div>
      </div>
    </header><!-- /.header -->

    <!-- Main Content -->
    <main class="main-content">
        <section class="section">
        <div class="container">
          <div class="row gap-y">
            <div class="col-md-6">
              <div class="media">
                <div class="mr-5 w-50px"><i class="icon-browser lead-6"></i></div>

                <div class="media-body">
                  <h6>Filling a gap</h6>
                  <p>Oxus HR & Payroll suite fills a gap in the Nigerian market for HR solutions, the gap being a dearth of world class solutions and poor implementation of the imported applications. A good number of the big name HR suites also fall short of expectations and many who have first-hand experience with these applications agree there is a lot to be desired.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="mr-5 w-50px"><i class="icon-recycle lead-6"></i></div>

                <div class="media-body">
                  <h6>And then we added innovation</h6>
                  <p>Oxus HR & Payroll presents a fully featured online offering for SMEs. The online offering or HR Cloud is our response to the direction of modern cloud computing. The online offering is especially good for organizations that do not have in-house IT expertise and do not wish to be distracted from their core non-IT services.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="mr-5 w-50px"><i class="icon-puzzle lead-6"></i></div>
                <div class="media-body">
                  <h6>It's not just technolgy, it's turnkey</h6>
                  <p>Evince is your end-to-end partner in a total HR solution. Through our industry partners we offer businesses income tax consulting, performance management based on industry standard balanced score card and management by objectives, track employee total lifecycle from hiring to retirement and post-retirement, training and motivation.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 feature-3">
              <div class="media">
                <div class="mr-5 w-50px"><i class="icon-presentation lead-6"></i></div>
                <div class="media-body">
                  <h6>Hosted Options</h6>
                  <p>If you are a small company or a company that would rather outsource IT for value or would not be ready to make investments in IT infrastructure just to get the next HR and Payroll solution, you have come to the right place. Evince Systems offer Nigerians a hosted or cloud based HR and payroll [...]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </section>
        <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Pricing</small>
            <h2>Suitable Pricing</h2>
            <hr>
            <p class="lead">Choose your pricing plan, here at oxus we have no hidden fees</p>
          </header>
          <div class="row gap-y">
            <div class="col-lg-4">
              <div class="pricing-3">
                <h6 class="plan-name">Personal</h6>
                <h2 class="price">$9</h2>
                <ul>
                  <li>Single Website</li>
                  <li>Manual Import</li>
                  <li>No Support</li>
                </ul>
                <br>
                <a class="btn btn-round btn-outline-primary w-200" href="#">Get started</a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pricing-3 popular">
                <span class="popular-tag">Best choice</span>
                <h6 class="plan-name">Team</h6>
                <h2 class="price">$59</h2>
                <ul>
                  <li>7 Websites</li>
                  <li>Auto Import</li>
                  <li>10 Hour Support</li>
                </ul>
                <br>
                <a class="btn btn-round btn-primary w-200" href="#">Get started</a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pricing-3">
                <h6 class="plan-name">Business</h6>
                <h2 class="price">$149</h2>
                <ul>
                  <li>Unlimited Websites</li>
                  <li>Auto Import</li>
                  <li>24/7 Support</li>
                </ul>
                <br>
                <a class="btn btn-round btn-outline-primary w-200" href="#">Get started</a>
              </div>
            </div>

          </div>

        </div>
        </section>
        <section class="section">
        <div class="container">
          <header class="section-header">
            <h2>How Do we Work?</h2>
            <hr>
          </header>
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="video-btn-wrapper">
                <img class="shadow-4 rounded-lg" src="/img/thumb/6.jpg" alt="watch a video">
                <a class="btn btn-circle btn-xl btn-info" href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="fa fa-play"></i></a>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="step">
                <li class="step-item">
                  <div class="step-icon">
                    <span class="iconbox">1</span>
                  </div>
                  <div class="step-content">
                    <h6><strong>Write your requirements</strong></h6>
                    <p>Think the or organization same proposal to affected heard reclined in be it reassuring.</p>
                  </div>
                </li>
                <li class="step-item">
                  <div class="step-icon">
                    <span class="iconbox">2</span>
                  </div>
                  <div class="step-content">
                    <h6><strong>Sign the contract</strong></h6>
                    <p>Think the or organization same proposal to affected heard reclined in be it reassuring.</p>
                  </div>
                </li>
                <li class="step-item">
                  <div class="step-icon">
                    <span class="iconbox">3</span>
                  </div>
                  <div class="step-content">
                    <h6><strong>We start developing</strong></h6>
                    <p>Think the or organization same proposal to affected heard reclined in be it reassuring.</p>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Blocks & Elements
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section text-white py-8">
        <canvas class="overlay opacity-95" data-granim="#667eea,#764ba2,#00cdac,#3cba92"></canvas>
        <div class="container">
          <header class="section-header">
            <small><strong>Own it</strong></small>
            <h2 class="display-3 fw-400">Get It <span class="mark-underline">Now</span></h2>
            <hr>
            <p class="lead-2">Try it free for 3 months, Free for (5) Employees</p>
          </header>
          <p class="text-center">
            <a class="btn btn-xl btn-round btn-light w-250" href="">Sign up now<span class="pl-2"></span></a><br>
          </p>
        </div>
      </section>
    <!-- Footer -->
        <!---popups noticication-->
    <!--end of cookie notification-->
    



