---
layout: default
title: Evicne-detail
---
 

 <header class="header text-white bg-dark pt-9 pb-5" style="background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);">
      <div class="container">
        <h3>{{ page.title1 }}</h3>
      </div>
</header><!-- /.header -->


<!-- Main Content -->
<main class="main-content">

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Breadcrumbs
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <nav class="bb-1 bg-gray" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb px-0">
        <li class="breadcrumb-item"><a href="/feature">Features</a></li>
        <li class="breadcrumb-item">{{ page.title1 }}</li>
      </ol>
    </div>
  </nav>


  <div class="container">
    <div class="row">

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Article
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <div class="col-md-7 col-xl-8 mr-md-auto py-8">
        <article>
          <h3 id="general">{{ page.title1 }}  Features and what it means</h3>
          <br>
          <h6 id="update-to-2" data-provide="anchor">{{ page.subject1 }} </h6>
          <p>{{ page.body1 }}</p>

          <hr class="hr-dash">

          <h6 id="update-policy" data-provide="anchor">{{ page.subject2 }}</h6>
          <p>{{ page.body1-1 }}</p>
          <p>{{ page.body1-2 }}</p>
          <p>{{ page.body1-3 }}</p>


          <hr class="my-8">

          <h3 id="licensing">{{ page.subject0-1 }} {{ page.title1 }}</h3>
          <br>
          <h6 id="regular-license" data-provide="anchor">{{ page.subject2 }}</h6>
          <p>{{ page.body2 }}</p>
          <p>{{ page.body2-1 }}</p>
          <p>Read more about <a href="" target="_blank">regular licenses</a>.</p>

          <hr class="hr-dash">

          <h6 id="extended-license" data-provide="anchor">{{ page.subject3 }}</h6>
          <p>{{ page.body3 }}</p>
          <p>{{ page.body2-1 }}</p>
          <p>Read more about <a href="" target="_blank">regular licenses</a>.</p>
        </article>
      </div>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Sidebar
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <div class="col-md-4 col-xl-3 d-none d-md-block">
                <aside class="sidebar sidebar-sticky">
              <h6>Related Articles</h6>
              <ul class="nav flex-column">
                {% for post in site.posts %}
                <li class="nav-item text-truncate">
                  <i class="fa fa-file-text mr-2"></i>
                  <a class="nav-link d-inline-block" href="{{ post.url }}"> {{ post.title1 }}</a>
                </li>

                {% endfor %}
              </ul>
            </aside>
        </aside>
      </div>

    </div>
  </div>


</main><!-- /.main-content -->




      
