
<button class="btn btn-circle btn-primary scroll-top"><i class="fa fa-angle-up"></i></button>


<!--- modal and popup ends -->
<!-- Footer -->
<footer class="footer text-white bg-img" style="background-image: url(..)" data-overlay="19">
  <div class="container">
    <div class="row gap-y">
      <div class="col-md-6 col-xl-4">
        <p><a href="#"><img src="../img/oxusLogo.png" alt="logo"></a></p>
        <br>
        <p></p>
        <div class="social social-bg-brand  ">
          <a class="social-facebook" href="{{ site.facebook_username }}"><i class="fa fa-facebook"></i></a>
          <a class="social-twitter" href="{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
          <a class="social-youtube" href="{{ site.youtube_username }}"><i class="fa fa-youtube"></i></a>
          <a class="social-instagram" href="{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a>
          <a class="social-git" href="{{ site.github_username }}"><i class="fa fa-git"></i></a>
        </div>
      </div>
      <div class="col-6 col-md-3 col-xl-2">
        <h6 class="mb-4 mt-1"><strong>Oxus HR Lite</strong></h6>
          <div class="nav flex-column">
            <a class="nav-link" href="/feature">Features</a>
            <a class="nav-link" href="/pricing" >Pricing</a>
            <a class="nav-link" href="#">Consulting</a>
          </div>
      </div>
      <div class="col-6 col-md-3 col-xl-2">
        <h6 class="mb-4 mt-1"><strong>Resources</strong></h6>
          <div class="nav flex-column">
            <a class="nav-link" href="/help">Help</a>
            <a class="nav-link" href="/documentation">Documentation</a>
            <a class="nav-link" href="/directory">Consultant Directory</a>
          </div>
      </div>
      <div class="col-6 col-md-6 col-xl-2">
        <h6 class="mb-4 mt-1"><strong>Company</strong></h6>
          <div class="nav flex-column">
            <a class="nav-link" href="#">About Us</a>
            <a class="nav-link" href="/contact">Contact Us</a>
            <a class="nav-link" href="/terms">Terms</a>
            <a class="nav-link" href="#">Privacy</a>
            <a class="nav-link" href="#">GDPR</a>
          </div>
      </div>
      <div class="col-6 col-md-6 col-xl-2">
          <h6 class="mb-4 mt-1"><strong>Contact Us</strong></h6>
          <div class="nav flex-column">
            <a class="nav-link" >Lagos, Nigeria</a>
            <a class="nav-link" >Plot 2 Block 67</a>
            <a class="nav-link" >Alhaji Basheer Shittu</a>
            <a class="nav-link" href="{{ site.gmail_username }}" >info@evincerated1.com</a>
          </div>
      </div>
      <div class="col-12">
            <hr class="my-0">
      </div>

      <div class="col-md-3 text-center text-md-left">
              <small>© 2018 Oxus Hr Lite. All rights reserved</small>
      </div>

      <div class="col-md-9 text-center text-md-right">
          
      </div>
        <br>
      </div>
    </div>
  </div>
</footer><!-- /.footer -->
  <!-- Scripts -->
  <script src="{{site.baseurl}}/js/page.min.js"></script>
  <script src="{{site.baseurl}}/js/script.js"></script>
