
  <head>
    <meta charset="utf-8">
    <meta content="IE-edge,chrome=1" http-equiv="X-UA-Compatable">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device, initial-scale=1">
    <meta name="description" content="{{ site.body }}">
    <link rel="apple-touch-icon" href="/img/oxuslogo1.png">
    <link rel="icon" href="/img/ox-lite.png">

    <!--  Open Graph Tags -->
    <meta property="og:title" content="">
    <meta property="og:description" content=".">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="twitter:card" content="summary_large_image">
      
    <title>{{ page.title }}</title>
    <script>if (top !== self) top.location.replace(self.location.href +'?utm_source=themeforest&utm_medium=preview&utm_campaign=thesaas');</script>
    <!-- Styles -->
    <link href="{{site.baseurl}}/css/page.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
    <link href="{{site.baseurl}}/scss/style.scss">
    <link href="{{site.baseurl}}/scss/popup.scss">
    <link href="{{site.baseurl}}/scss/typography.scss">
    <link href="{{site.baseurl}}/css/style.min.css">
    <link href="{{site.baseurl}}/scss/sizing.scss">
    <link href="{{site.baseurl}}/scss/header.scss">
    <link href="{{site.baseurl}}/scss/reboot.scss">
    <link href="{{site.baseurl}}/css/page.css">
    <link href="{{site.baseurl}}/scss/misc.scss">
    <link href="{{site.baseurl}}/scss/text.scss">
    <link href="{{site.baseurl}}/scss/root.scss">
    <link href="{{site.baseurl}}/css/style.scss">
    <link href="{{site.baseurl}}/css/page.min.css">
    <link href="{{site.baseurl}}/css/style.min.css">
    <link href="{{site.baseurl}}/css/style.min.css">
</head>
<body>
<body class="demo-topbar">
<!-- Topbar -->
<section class="topbar d-lg-flex">
  <div class="container small-3">
    <nav class="nav">
      <a class="nav-link" href="#">Payment</a>
      <a class="nav-link" href="/help">Help</a>
    </nav>
    <div>
      TEL: +1 (123) 456 7890
      <span class="topbar-divider"></span>
      Evince@website.com
    </div>
  </div>
</section><!-- /.topbar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-stick-dark" data-navbar="sticky">
  <div class="container">
    <div class="navbar-left">
      <button class="navbar-toggler" type="button">&#9776;</button>
      <ul class="nav nav-navbar">
        <li class="nav-item">
          <a class="nav-link" href="/"><img class="text-dark" src="/img/oxusLogo.png" alt="logo" width="120" data-overlay="10"></a>
        </li>
      </ul>
    </div>
    <section class="navbar-mobile">
      <span class="navbar-divider d-mobile-none"></span>
      <ul class="nav nav-navbar">
        <li class="nav-item">
          <a class="nav-link" href="/feature">Features </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/solution">Solution </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing" >Pricing </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Help </a>
        </li>
        <li class="nav-item nav-mega">
          <a class="nav-link" href="/contact">Contact </a>
        </li>
      </ul>
    </section>
    <a class="btn btn-xs btn-round btn-success" data-toggle="popup" data-target="#popup-promotion-2" href="#">Get Started</a>
  </div>
</nav>