<!-- Header -->
<header class=header pb-9 pt-10 mb-9" style="background-image: url(/img/bg/6.jpg);">

      <div class="container">
        <div class="row align-items-center h-100">

          <div class="col-lg-7">
            <h1 class="text-lightest display-8 fw-500"><br>Pricing</h1>
             <small class="text-lighter lead mt-5 mb-8">No strings attached</small><br><br>
             <small class="text-lighter lead mt-5 mb-8">Pay via paystack</small><br>

              <p class="gap-xy">
                  <br>
                  <br>
                  <a class="btn btn-xl btn-round btn-outline-light w-200 px-6" data-toggle="popup" data-target="#popup-cookie-2" href="#section-demo">Try for Free</a>
                  <a class="btn btn-xl btn-round btn-success w-200 mr-3 px-6 d-none d-md-inline-block" href="">Buy For $5</a>
              </p>
          </div>

          <div class="col-lg-5 ml-auto d-none d-lg-block">
          </div>

        </div>
      </div>
    </header><!-- /.header -->

<!-- /.header -->