---
title: Oxus HR Lite - Contact
layout: page_layout
---


<header class=header pb-9 pt-10 mb-9" style="background-image: url(/img/bg/6.jpg);">
    <div class="container">
    <div class="row align-items-center h-100">
      <div class="col-lg-6">
        <h1 class="text-lightest display-8 fw-500"><br>Contact Us </h1>
        <small class="text-lighter lead mt-5 mb-8">Feel free to place a call or message us on our social platforms</small>
      </div>
      <div class="col-lg-5 ml-auto d-none d-lg-block">
      </div>
    </div>
  </div>
</header><!-- /.header -->

<!-- /.header -->
<!-- Main Content -->
<main class="main-content">
<section class="section p-0">
<br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26661.142199374306!2d3.370180715948332!3d6.621749170593353!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9d3113c3b7e30d78!2sEvince+Nigeria+Limited!5e0!3m2!1sen!2sng!4v1534428594253" width="1600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
<section class="section">
    <div class="container">
      <h2 class="text-center">Let's Get In Touch</h2>
      <div class="row mt-8">
        <form class="col-11 col-lg-6 mx-auto p-6 bg-gray rounded" action="/php/sendmail.php" method="POST" data-form="mailer" data-on-success="onSuccessCallback" data-on-error="onErrorCallback">
          <div class="alert alert-success d-on-success">We received your message and will contact you back soon.</div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input class="form-control form-control-lg" type="text" name="name" placeholder="Your Name">
            </div>
            <div class="form-group col-md-6">
              <input class="form-control form-control-lg" type="email" name="email" placeholder="Your Email Address">
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control form-control-lg" rows="4" placeholder="Your Message" name="message"></textarea>
          </div>
          <div class="text-center">
            <button class="btn btn-lg btn-primary" type="submit">Submit Inquiry</button>
          </div>
        </form>
      </div>
    </div>
  </section>
<section class="section">
    <div class="container">
      <div class="row gap-y text-center">
        <div class="col-lg-4">
          <div class="card border p-5">
            <h5 class="mb-4">Business</h5>
            <p class="small-1">You can place a call to us, we wont reject your calls.</p>
            <a href="tel:08001234455">Phone: 08122356701, 08060198059</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card border p-5">
            <h5 class="mb-4">Press</h5>
            <p class="small-1">Email us at the following email info below, feel free to send us a message anythime.</p>
            <a href="#">Email: info@evincesystems.com Wesite: www.evincesystems.com, www.oxushr.com</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card border p-5">
            <h5 class="mb-4">Meet</h5>
            <p class="small-1">Get to us more we stay at a secure place where.</p>
            <a href="#">Get Direction or check the map</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section text-white bg-fixed" style="background-image: url(/img/thumb/7.jpg)" data-overlay="8">
    <div class="container">
      <div class="row gap-y align-items-center">
        <div class="col-md-5">
          <p class="text-uppercase small opacity-70 fw-600 ls-1">HQ : Lagos</p>
          <h5>Plot 2, Block 67</h5>
          <br>
          <p>Alaji Basheer Shittu Avenue<br>Magodo GRA Phase 2,</p>
          <p>Magodo Lagos</p>
          <p>Phone: +1 987 123 6548<br>Email: hello@Evincerated1.co</p>
          <br>
        </div>
          <hr>
          <div class="social social-lg social-hover-bg-brand text-center">
          <h6 >Social Media </h6>
          <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
          <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
          <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
          <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
        </div>
        </div>
      </div>
  </section>
</main><!-- /.main-content -->
    
		<!-- Footer -->

    
