---
title: Oxus HR Lite - Features
layout: page_layout
---


<!-- Header -->
<header class=header pb-9 pt-10 mb-9" style="background-image: url(/img/bg/6.jpg);">
      <div class="container">
        <div class="row align-items-center h-100">
          <div class="col-lg-6">
            <h1 class="text-lightest display-8 fw-500"><br>Features</h1>

            <small class="text-light lead mt-5 mb-8">Discover</small>
            <br>
            <small class="text-light lead mt-5 mb-8">Everything About</small>
            <br>
            <small class="text-light lead mt-5 mb-8">Oxus HR Lite</small>
          </div>
          <div class="col-lg-5 ml-auto d-none d-lg-block">

          </div>
        </div>
      </div>
</header>
<!-- /.header -->
	
<!-- Main Content -->
<main class="main-content">

<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Basic Features
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<section id="basic" class="section bg-gray bb-1">
  <div class="container">
    <header class="section-header">
      <h2>Basic Features</h2>
      <hr>
    </header>
    <div class="row gap-y">
      {% for post in site.posts %}
      <div class="col-md-4">
        <div class="card shadow-4">
          <div class="card-body">
            <h5 class="card-title">{{ post.title1 }}</h5>
            <p>Create a <payroll></payroll>. View payroll history and view summaries, view and download reports and compare differences in payroll. Download tax and pension schedules.</p>
            <div class="card footer text-left">
            <ul>
                <li><strong>{{ post.features }}</strong></li>
                <li><strong>{{ post.features1 }}</strong></li>
                <li><strong>{{ post.features2 }}</strong></li>
                <li><strong>{{ post.features3 }}</strong></li>
                <li><strong>{{ post.features4 }}</strong></li>

            </ul>
            </div>
            <div class="card-footer text-right">
                  <a class="fs-12 fw-600" href="{{ post.url }}">Read more <i class="fa fa-angle-right pl-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-md-6 text-center">
        <header class="header text-white py-10 h-fullscreen" style="background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);">
        </header>
      </div>

      <div class="col-md-6 text-center text-md-left">
        <h2>Do you need some help?</h2>
        <p class="lead mb-6">Visit our support center to get start</p>
        <p><a class="btn btn-lg btn-round btn-info" href="/help">Go to help center</a></p>
      </div>
    </div>
  </div>
</section>
