---
title: Oxus HR Lite - Help
layout: page_layout
---

<!-- Header -->
<header class=header pb-9 pt-10 mb-9" style="background-image: url(/img/bg/6.jpg);">
      <div class="container">
        <div class="row align-items-center h-100">
          <div class="col-lg-6">
            <h1 class="text-lightest display-8 fw-500"><br>Help </h1>
            <small class="text-lighter lead mt-5 mb-8">Need aome Assistance and Guidance</small>
          </div>
          <div class="col-lg-5 ml-auto d-none d-lg-block">
          </div>
        </div>
      </div>
</header><!-- /.header -->

<!-- /.header -->
<!-- Main Content -->
<main class="main-content">
    <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Variations
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

    <section id="general" class="section">
        <div class="container">
            <header class="section-header">
                <h2>Quick Start</h2>
                <hr>
            </header>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Quick start accordion
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
                    <div class="accordion" id="accordion-1">
                        <div class="card">
                            <h5 class="card-title">
                                <a data-toggle="collapse" href="#collapse-1-1">How do i sign up?</a>
                            </h5>
                            <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                                <div class="card-body">
                                    Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-title">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-1-2">How do i pay?</a>
                            </h5>
                            <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any time with no further obligation.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-title">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-1-3">How do i add employees</a>
                            </h5>
                            <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to your account until your current subscription expires.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-title">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-1-4">How do i Customize</a>
                            </h5>
                            <div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    You can cancel y1our subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to your account until your current subscription expires.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <header class="section-header">
                        <h2>Administrators</h2>
                        <hr>
                    </header>
                    <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Adminstrators accordion
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
                    <div class="accordion accordion-connected" id="accordion-2">
                        <div class="card">
                            <h5 class="card-title">
                                <a data-toggle="collapse" href="#collapse-2-1">How do i add employees?</a>
                            </h5>
                            <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                                <div class="card-body">
                                    Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-title">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-2-2">How do i run payroll?</a>
                            </h5>
                            <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                                <div class="card-body">
                                    Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any time with no further obligation.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-title">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-2-3">How do i add loans?</a>
                            </h5>
                            <div id="collapse-2-3" class="collapse" data-parent="#accordion-2">
                                <div class="card-body">
                                    You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to your account until your current subscription expires.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-title">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-2-4">How do i setup bank accounts</a>
                            </h5>
                            <div id="collapse-2-4" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    You can canc1el your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to your account until your current subscription expires.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <header class="section-header">
                        <h2>Employees</h2>
                        <hr>
                    </header>
                    <!--
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        | Employees accordion
        |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
        !-->
                    <div class="accordion accordion-light" id="accordion-3">
                        <div class="card">
                            <h5 class="card-title">
                                <a data-toggle="collapse" href="#collapse-3-1">How do i download payslip?</a>
                            </h5>

                            <div id="collapse-3-1" class="collapse show" data-parent="#accordion-3">
                                <div class="card-body">
                                    Absolutely! We work with top payment companies which guarantees your safety and security. All billing information is stored on our payment processing partner which has the most stringent level of certification available in the payments industry.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-title">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-3-2">How do i apply for loans?</a>
                            </h5>
                            <div id="collapse-3-2" class="collapse" data-parent="#accordion-3">
                                <div class="card-body">
                                    Currently, we only offer monthly subscription. You can upgrade or cancel your monthly account at any time with no further obligation.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <h5 class="card-title">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-3-3">How do i see my pension listendance?</a>
                            </h5>
                            <div id="collapse-3-3" class="collapse" data-parent="#accordion-3">
                                <div class="card-body">
                                    You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to your account until your current subscription expires.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- /.main-content -->