---
layout: page_layout
title: Oxus HR Lite - Pricing
---

{% include _pricing_head.html %}
<section class="section bg-gray">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6">
        <p class="text-uppercase text-lighter fw-400 ls-2">Pricing is simple</p>
        <h2 class="fw-200 mb-6">Choose your pricing plan,<br>No hidden fees!</h2>
        <p>We have a single plan which you can choose to pay monthly or yearly. You can always cancel your subscription anytime from your account.</p>

        <div class="btn-group btn-group-toggle mt-7" data-toggle="buttons">
          <label class="btn btn-round btn-outline-dark w-150 active">
            <input type="radio" name="pricing-5" value="monthly" autocomplete="off" checked> Monthly $
          </label>
          <label class="btn btn-round btn-outline-dark w-150">
            <input type="radio" name="pricing-5" value="yearly" autocomplete="off"> Monthly &#8358;
          </label>
        </div>
      </div>
      <div class="col-md-4 mx-auto mt-7 mt-md-0">
        <div class="card card-body text-center shadow-2 hover-shadow-8 py-6">
          <p class="lead text-dark text-uppercase fw-600 ls-1 mb-0">Starter</p>
          <p class="text-lighter"><span data-bind-radio="pricing-5" data-monthly="Monthly 1" data-yearly="Monthly 2">Monthly</span> Package</p>
          <p class="lead-7 fw-600 text-dark"><span data-bind-radio="pricing-5" data-monthly="$2." data-yearly="&#8358;500.">$6.</span><span class="lead-4 align-text-top">00</span></p>
          <p>
            You can start paying after 3 months<br>
            Get no more than 5 employees<br>
            No Strings Attached<br>
            Supportive<br>
          </p>
          <br>
          <div>
            <a class="btn btn-round btn-outline-secondary w-200" href="#" data-bind-href="pricing-5" data-monthly="#monthly" data-yearly="#yearly">Get now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Main Content -->
<main class="main-content">
  <div class="container">
    <header class="section-header">
      <p class="lead mr-sm-4">The self-managed on-site installations are priced one-off; a recommended recurring support fee of 15% is applicable from the second year. <br> The table below summarizes the license cost for the self-managed scenario.</p>
    </header>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Class (No. of employees)</th>
              <th>Cost</th>
              <th>Support Cost (15%)</th>
              <th>Extra 10 employees within Band</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>C – 50</td>
              <td>N350,000</td>
              <td>N52,500</td>
              <td>N55,000</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>C – 100</td>
              <td>N550,000</td>
              <td>N82,500</td>
              <td>N42,500</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>C – 200</td>
              <td>N850,000</td>
              <td>N127,500</td>
              <td>N35,000</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>C – 500</td>
              <td>N1,750,000</td>
              <td>N262,500</td>
              <td>N25,000</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>C – 1000</td>
              <td>N2,500,000</td>
              <td>N375,000</td>
              <td>N16,000</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>C – 5000</td>
              <td>N8,000,000</td>
              <td>N1,200,000</td>
              <td>N15,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div style="padding:100px" ;="">

    <h4><strong>What does within brand mean?<strong></strong></strong></h4>
    <p>Within band answers the question, “So what if I have more than 100
    employees but fewer than 200?” In this scenario, a company finds itself
    within the C-100 and the C-200 band. Instead of buying a higher C-200
    band the company may choose to pay in steps of additional 10 employees.</p>
    <p>The rates for the additional 10-employee license have been discounted at the next C-band, which gives value for money.</p>
    <h4><strong>What do I get for support?</strong></h4>
    <p>Support covers bug fixes in the application and a choice of upgrading
     to the latest offering of Oxus. Traditional phone/email support for
    different classes of support or personnel on site support are also
    available depending on the SLA. <a href="http://oxushr.com/SupportScopeOfCoveragev1.0.pdf" style="color:saddlebrown;">Click here to download our SLA</a></p>
    <p style="margin-left:50px">In summary, you get the following for support:<br>
        1. Bug fixes at no additional cost<br>
        2. All features of new releases, for as long as support is up to date.<br>
        3. Technical SLA based support, both remote and on-site<br>
        4. Backup co-location<br>
        5. Relocation, Rebuilding and migration support
    </p><p>&nbsp;</p>
    <h3>Hosted Oxus HRIS &amp; Payroll</h3>
    <p>The hosted Oxus HRIS &amp; Payroll is significantly cheaper than the
    self-managed option mainly because support is mostly remote. Custom
    support SLA can be discussed.</p>
    <p>In the hosted application, the annual recurring cost is mandatory
    because infrastructure is rented remotely. A client has the option of
    getting full HR data back if they decide to stop service or convert to
    self-managed. Conversion to self-managed can be done at any time during
    the year and then fees applicable to self-hosted applies, plus a minute
    setup cost.</p>
  <br>
  <div class="row">
      <div class="col-lg-10 mx-auto">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Class (No. of employees)</th>
              <th>Year 1 Cost</th>
              <th>Annual Recurring Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>C – 50</td>
              <td>N250,000</td>
              <td>N112,500</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>C – 100</td>
              <td>N270,000</td>
              <td>N141,000</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>C – 200</td>
              <td>N410,000</td>
              <td>N180,000</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>C – 500</td>
              <td>N750,000</td>
              <td>N360,000</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>C – 1000</td>
              <td>N970,000</td>
              <td>N590,000</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>C – 5000</td>
              <td>N2,100,000</td>
              <td>N1,050,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <header class="section-header">
      <small>FAQ</small>
      <h2>Pricing FAQs</h2>
    </header>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="accordion accordion-connected accordion-arrow-right" id="accordion-1">
          <div class="card">
            <h5 class="card-title">
              <a data-toggle="collapse" href="#collapse-1-1">1. Do i pay annually ?</a>
            </h5>
            <div id="collapse-1-1" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
                Yes
              </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-1-2">2. How do i pay ?</a>
            </h5>
            <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
              You Can start your Payment from The admin section of your website. We will also send you payment reminders by email.
              </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-1-3">3. How do you charge.?</a>
            </h5>
            <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
                  Pls contact Us.
              </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-1-4">4. We want you to handle remittance?</a>
            </h5>

            <div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
                Pls contact Us.
              </div>
            </div>
          </div>

          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-1-5">5.How does free Trial works?</a>
            </h5>
            <div id="collapse-1-5" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
                *<br>
                *<br>
              </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-1-6">6. What Payment options Do i have?</a>
            </h5>
            <div id="collapse-1-6" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
              You Can start your Payment from The admin section of your website. We will also send you payment reminders by email.
              </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-1-7">7. Will you remit payment to stops?</a>
            </h5>
            <div id="collapse-1-7" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
              You Can start your Payment from The admin section of your website. We will also send you payment reminders by email.
              </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-1-8">8. I'm a customer, i want consulting?</a>
            </h5>
            <div id="collapse-1-8" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
              You Can start your Payment from The admin section of your website. We will also send you payment reminders by email.
              </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-1-9">9. Support for free trial?</a>
            </h5>
            <div id="collapse-1-9" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
              You Can start your Payment from The admin section of your website. We will also send you payment reminders by email.
              </div>
            </div>
          </div>
          <div class="card">
            <h5 class="card-title">
              <a class="collapsed" data-toggle="collapse" href="#collapse-1-10">10. Do i pay for ex-employees?</a>
            </h5>

            <div id="collapse-1-10" class="collapse" data-parent="#accordion-1">
              <div class="card-body">
              You Can start your Payment from The admin section of your website. We will also send you payment reminders by email.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</main>