---
title: Oxus HR Lite - Solutions
layout: page_layout
---


<!-- Header -->
<header class=header pb-9 pt-10 mb-9" style="background-image: url(/img/bg/6.jpg);">
      <div class="container">
        <div class="row align-items-center h-100">
          <div class="col-lg-6">
            <h1 class="text-lightest display-8 fw-500"><br>Solutions</h1>

            <small class="text-lighter lead mt-5 mb-8">Choose</small>
            <br>
            <small class="text-lighter lead mt-5 mb-8">The solutions That</small>
            <br>
            <small class="text-lighter lead mt-5 mb-8">Best Suite you</small>
          </div>
          <div class="col-lg-5 ml-auto d-none d-lg-block">

          </div>
        </div>
      </div>
</header>
<section class="section">
  <div class="container">
    <header class="section-header">
      <small>SOLUTIONS</small>
      <hr>
      <p>We present Nigeria’s favorite HR & Payroll solution in two variants Whichever one you choose, Oxus HRIS & Payroll comes with the same set of functionalities. .</p>
    </header>

    <div class="row gap-y">
      <div class="col-md-13">
        <h5>Self-Managed <application></application></h5>
        <p>Self-Managed application: When organizations purchase Oxus HR & Payroll solution or any other solution for that matter, the vendor comes in to implement the solution on premise. The purchaser (you) provides a server or buys one (we can help purchase or provide server specifications). The organization is responsible for maintaining the server uptime, provides anti-virus, hire IT personnel to support the server, backup. If this sounds like you and for cooperate reasons you’d like to maintain status quo, the traditional on-site is for you. .</p>
      </div>
      <div class="col-md-13">
        <h5>Online Hosted HR & Payroll</h5>
        <p>A more contemporary approach is to host your application online, our trend towards cloud computing and software-as-a-service. In this offering, we take all your IT pains on us and you get a faster, almost instant ROI. The hosted application means you access the application on the internet using your regular internet connection from anywhere, yes anywhere in the world that you have access to the internet. The “value add” is that you don’t need to buy a server, or maintain IT staff to support this application. You are however expected to pay a regular service charge on an ongoing basis.</p>
      </div>
    </div>
  </div>
</section>

<div class="row">
      <div class="col-lg-10 mx-auto">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Solution Type	</th>
              <th>Upside</th>
              <th>Points to consider</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Self Managed</td>
              <td>Complete control of infrastructure
                <br>
              Data maintained on-site for higher security
                <br>
              Hardware flexibility, ability to match and share hardware depending on compute requirements
                <br>
              I already have an IT department who support all my IT need; they are strategic to the organization.
                <br>
              I already have a server to deploy the application to
              </td>
              <td>Management cost is high, overhead and upfront IT cost.
                <br>
              Fees for facilities, electricity.
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Hosted</td>
              <td>No upfront acquisition cost
                <br>
              Offload facilities maintenance to service provider
                <br>
              Highly scalable offering as resources can be increased or decreased as the need may arise.
                <br>
              I do not plan to keep an in-house IT department.
                <br>
              I do not know how to manage a server, I’ll rather not invest in servers now, can you install this application on my laptop?
                <br>
              I will rather outsource all my IT needs.
              </td>
              <td>Additional effort required to secure data e.g. SSL certificate maintenance cost.
                <br>
              Performance and service availability may vary, however uptime higher because of stable resources like electricity.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<section class="section">
  <div class="container">
    <header class="section-header">
    <h3>Architecture</h3>
      <hr>
    </header>

    <div class="row gap-y">
      <div class="col-md-6">
        <h5>Self-Managed</h5>
        <p>The self-managed Oxus HRIS & Payroll implementation requires the application to be hosted on customer premises, typically at a head office for a multi-branch organization. IT infrastructure and support personnel are typically on ground in this scenario.</p>
        <p>Where other employees in other branches must connect to the application, the company must have an existing WAN connection to the other branches of the organization. If this is absent, only employees in the head office will be able to perform self-service. The others can still benefit from features like emailing pay slips.</p>
      </div>
      <div class="col-md-6">
        <h5>Hosted</h5>
        <p>The hosted Oxus HRIS & Payroll system gives the same set of functionalities as the on-site, on premise selfmanaged application. However in this case, the application is hosted on the internet.</p>
        <p>The hosted application has implied support in the cost of purchase, including the lease and maintenance of the hosting server on the internet, 24-hour support for application services and domain name registrations. Despite all of this, the initial capital outlay for the hosted application is cheaper than the self-managed because infrastructure are leased and economies of scale and reduced logistics make it cheaper. On the other hand, the maintenance fee is an on-going operational cost.</p>
        <p>Connecting to the hosted application requires regular internet connection making it a cost effective choice for SMEs who don’t consider an in-house IT outfit as part of long term strategy.</p>
      </div>
    </div>
  </div>
</section>

